Source: ros-hydro-razor-imu-9dof
Section: misc
Priority: extra
Maintainer: Kristof Robot <krirobo@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/razor_imu_9dof
Standards-Version: 3.9.2

Package: ros-hydro-razor-imu-9dof
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf
Description: A driver for the razor board and a 3D display node. The firmware of the razor board is updated and maintained at https://github.com/ptrbrtz/razor-9dof-ahrs and the tutorial is at https://github.com/ptrbrtz/razor-9dof-ahrs/wiki/Tutorial
